/*** Commen Style ***/

.myClr{
    color: #ff3366;
}

.myBgClr{
    background-Color: #ff3366;
}


/* Style for left portin with col-3 => Start */


.user{
    margin-top: 10px;
    text-align: center;
}
.user .name{
    margin-top: 20px;
}
.user .name strong{
    margin-top: 20px;
    font-size: 30px;
}
.user .name span{
    font-size: 13px;
    color: gray
}

@media only screen and (max-width: 1100px) {
    .user .name strong{
        /* color: orange; */
        font-size: 20px;
    }
}

.link-list {
    text-decoration: none;
}

.mySearch-field {
    width: 80%;
    margin: 15px 0px;
    padding: 12px 15px;
    border-radius: 21px;
    background: none;
    outline: none;
    border: 1px solid lightgray;
}

.addNewList {
    color: blue;
    text-Decoration: none;
}