.round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
    margin-top: -1px
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #ff3366;
    border-color: gray;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }


  .manuBtn{
    padding: 0px !important;

  }

  .manuDiv{
    padding:"2px"
  }
  .some {
    text-align: right !important;
    padding: 0px
  }

  .Manuicon{
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;


  }
  .some button{
    padding: 0px;
    padding-right: 10px !important;
    width: 70px;
    text-align: right;
    padding-bottom: 15px ;

  }





  
  


 